


.form-group {
    display: flex;
    align-items: start;
}

.form-control {
    width: 200px;
    margin-right: 2px;
    margin-top: 10px;
}

.card-img-top {
    height: 150px;
    width: 150px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

.card-text {
    font-size: 16px;
}

.btn-primary {
    margin-top: 10px;
}

.btn-outline-primary {
    margin-top: 10px;
}



.description-overlay {
    position: absolute;
    top: 0;
    left: 20%; /* Position to the right of the image */
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 9999;
}




