p {
    text-align: center;
}

h1 {
    text-align: center;
}

body {
    text-align: center;
}

ul {
    list-style-type: none;
}



.container {
    align-items: center;
 /* Center the background image */
    /* Additional styles can be added as needed */
}

.btn-info{
    margin-bottom: 5px;
}
