{% include "navigation.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% include "bootstrap/base.html" %}


{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <h1>This item has been added to your basket:</h1>

    <ul>
        <li>
            <img src="{{ basket[-1].image }}" alt="{{ basket[-1].name }}" width="100" height="100">
            <strong>{{basket[-1].name}}</strong> - Price: {{basket[-1].price}} - Quantity: {{basket[-1].quantity}}
        </li>

    <ul>

        <p>Would you like to view the product(s) in your basket?</p>
        <a href="{{ url_for('view_basket') }}" class="btn btn-info">View Basket</a>
    </ul>
    

{% endblock %}
    