{% include "navigation.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% include "bootstrap/base.html" %}

<h1>Your Basket</h1>
<ul>
    {% for item in basket.items %}
        <li>{{ item.product.name }} - {{ item.quantity }} - {{ item.product.price }}</li>
        <form action="{{ url_for('remove_from_basket', basket_item_id=item.id) }}" method="post">
            <button type="submit">Remove</button>
        </form>
    {% endfor %}
</ul>
