{% include "navigation.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% include "bootstrap/base.html" %}

{% block content %}
<body>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='checkout.css') }}">
    
    <div class="basket">
        <h2>Your Basket</h2>
        <ul>
            {% for item in basket %}
                <li>
                    <span>{{ item.name }}</span>
                    <span>Price: {{ item.price }}</span>
                    <span>Quantity: {{ item.quantity }}</span>
                </li>
            {% endfor %}
        </ul>
        <p>Total Price: £{{ total_price }}</p>
    </div>

    <div class="checkout-form">
        <h2>Shipping and Billing Information</h2>
        <form action="/submit_order" method="post">
            <!-- Shipping Information -->
            <h3>Shipping Information</h3>
            <label for="shipping_name">Name:</label>
            <input type="text" id="shipping_name" name="shipping_name" required><br>
            <label for="shipping_address">Address:</label>
            <input type="text" id="shipping_address" name="shipping_address" required><br>
            <label for="shipping_email">Email:</label>
            <input type="email" id="shipping_email" name="shipping_email" required><br>

            <!-- Billing Information -->
            <h3>Billing Information</h3>
            <label for="billing_name">Name:</label>
            <input type="text" id="billing_name" name="billing_name" required><br>
            <label for="billing_address">Address:</label>
            <input type="text" id="billing_address" name="billing_address" required><br>
            <label for="billing_email">Email:</label>
            <input type="email" id="billing_email" name="billing_email" required><br>
            <label for="card_number">Card Number:</label>
            <input type="text" id="card_number" name="card_number" required minlength="16" maxlength="16" pattern="[0-9]*" title="Please enter only numeric digits"><br>

            <label for="sort_code">Sort Code:</label>
            <input type="text" id="sort_code" name="sort_code" required minlength="6" maxlength="6" pattern="[0-9]*" title="Please enter only numeric digits"><br>

            <label for="cvv_number">CVV Number:</label>
            <input type="text" id="cvv_number" name="cvv_number" required minlength="3" maxlength="3" pattern="[0-9]*" title="Please enter only numeric digits"><br>

            <button type="submit" class="btn btn-primary">Submit Order</button>
        </form>
    </div>
{% endblock %}
