{% include "navigation.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% include "bootstrap/base.html" %}



{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <h1>Clear Basket</h1>
    <p>Your basket has been succesfully emptied.</p>
    <p>We hope that you can find something else that catches your eye in our store.</p>
    <p>If not we thank you for your time and patience to browse our small shop.</p>
    <br>
    <p>Maybe a random product will entice you, click on one of the buttons to take you to an unknown product.</p>

    <form action="{{ url_for('singleProductPage', techId=3 )}}" method="post">
        <button type="submit" class="btn btn-success" style="margin-top: 5px;">View Details</button>
    </form>
    <form action="{{ url_for('singleProductPage', techId=1 )}}" method="post">
        <button type="submit" class="btn btn-success" style="margin-top: 5px;">View Details</button>
    </form>
    <form action="{{ url_for('singleProductPage', techId=4 )}}" method="post">
        <button type="submit" class="btn btn-success" style="margin-top: 5px;">View Details</button>
    </form>
    <form action="{{ url_for('singleProductPage', techId=2 )}}" method="post">
        <button type="submit" class="btn btn-success" style="margin-top: 5px;">View Details</button>
    </form>

    

    

{% endblock %}
    