{% include "navigation.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% include "bootstrap/base.html" %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style2.css') }}">

{% block content %}
    <div class="container">
        <h1 class="text-center">Welsh Trinkets and Traditions</h1>
        <div class="row mb-4">
            <div class="col-md-6">
                <form action="{{ url_for('galleryPage') }}" method="post">
                    <div class="form-group">
                        <select class="form-control" name="sort_option">
                            <option value="">Default (Unsorted)</option>
                            <option value="name">Sort by Name</option>
                            <option value="price_asc">Sort by Price (Low to High)</option>
                            <option value="price_desc">Sort by Price (High to Low)</option>
                            <option value="EnvImpact_asc">Sort by Environmental Impact (Low to High)</option>
                            <option value="EnvImpact_desc">Sort by Environmental Impact (High to Low)</option>
                        </select>
                        <button type="submit" class="btn btn-primary">Sort</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row justify-content-start">
            {% for item in products %}
                <div class="col-md-6 mb-4 product-card" data-tech-id="{{ item.id }}">
                    <div class="card">
                        <a href="{{ url_for('singleProductPage', techId=item.id) }}">
                            <img src="{{url_for('static', filename='Images/' + item.image) }}" class="card-img-top" alt="{{item.name}}">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }}</h5>
                            
                            <p class="card-text">Price: {{ item.price }}</p>
                            <p class="card-text">Environmental Impact: {{ item.eiikg }} kg</p>
                            <form action="{{ url_for('add_to_basket', techId=item.id) }}" method="post">
                                <button type="submit" class="btn btn-success">Add to Basket</button>
                            </form>
                            <a href="{{ url_for('singleProductPage', techId=item.id) }}" class="btn btn-outline-primary mt-2">View Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- JavaScript/jQuery code -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function() {
        $('.product-card').hover(function() {
            var techId = $(this).data('tech-id');
            var cardBody = $(this).find('.card-body'); // Find the card body within the product card

            $.ajax({
                url: '/get_description/' + techId,
                type: 'GET',
                success: function(response) {
                    var description = response.description;
                    // Append the description overlay to the card body
                    $('<div class="description-overlay">' + description + '</div>')
                        .appendTo(cardBody) // Append to the card body
                        .fadeIn('fast');
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }, function() {
            // Remove the description overlay when the mouse leaves
            $('.description-overlay').fadeOut('fast', function() {
                $(this).remove();
            });
        });
    });
    </script>
    
{% endblock %}
