{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Welsh Trinkets and Traditions
{% endblock %}

{% block navbar %}
    
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('galleryPage')}}">Home</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('singleProductPage', techId=1) }}">Hat</a></li>
                <li><a href="{{ url_for('singleProductPage', techId=2) }}">Shirt</a></li>
                <li><a href="{{ url_for('singleProductPage', techId=3) }}">Daffodil</a></li>
                <li><a href="{{ url_for('singleProductPage', techId=4) }}">Leek</a></li>
                <li><a href="{{ url_for('view_basket') }}">View Basket</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}