{% include "navigation.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% include "bootstrap/base.html" %}


{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <h1>Your Basket has been succesfully checked out</h1>
    <p>Congratulations, your basket has been basket has been successfully checkedout!</p>
    <p>We are getting ready to pack and post your products</p>
    <p>We hope you love our procuts just as much as we do and hope you come back again one day</p>
    <p>Love from the Welsh Trinkets and Traditions Team</p>
    <img src="/static/dragon.JPG" alt="dragon.jpg">

    

    

{% endblock %}
    