{% include "navigation.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% include "bootstrap/base.html" %}


<body>
{% block content %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <h1>You've added another one of this item to your basket.</h1>

    
    
    <ul>
        <li><strong>Your current basket:</strong></li>
        {% for item in basket %}
            <li>
                <img src="{{ item.image }}" alt="{{ item.name }}" width="100" height="100">
                <strong>{{ item.name }}</strong> - Price: {{ item.price }} - Quantity: {{ item.quantity }}

            </li>
        {% endfor %}
        <p>Would you like to view the product(s) in your basket?</p>
        <a href="{{ url_for('view_basket') }}" class="btn btn-info">View Basket</a>
    </ul>


{% endblock %}
</body>
    