{% include "navigation.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% include "bootstrap/base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <h1>Your Basket</h1>
    <p><strong>The Product: {{ product.name }}</strong></p><br>
    <img src="{{url_for('static', filename='Images/'+product.image)}}" alt = "{{product.name}}" height="200" width="200"> <br>
    <p>Product Description: {{ product.description }}</p>
    <p>Environmental Impact: {{ product.eiikg }}</p>
    <p>Your thoughts: {{ opinion }}</p>
    <p><b>Would you like to add this product to your basket?</b></p>
    <form action="{{ url_for('add_to_basket', techId=product.id) }}" method="post">
        <button type="submit" class="btn btn-success" style="margin-bottom: 5px;">Add to Basket</button>
    </form>
    
{% endblock %}