{% include "navigation.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% include "bootstrap/base.html" %}


{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <h1>This item has now been removed from your basket:</h1>
    <p>{{basket.name}}</p>
    
    <ul>
        {% for item in basket %}
            <li>
                <strong>{{ item.name }}</strong> - Price: {{ item.price }} - Quantity: {{ item.quantity }}

            </li>
        {% endfor %}
        <p>Would you like to view the product(s) in your basket?</p>
    </ul>
    

{% endblock %}
    