<!DOCTYPE html>
<html>
<body>
    <h1>{{ product.name }}</h1>
    <p>Price: {{ product.price }}</p>
    <img src="{{url_for('static', filename='Images/'+product.image)}}" alt = "{{product.name}}" height="200" width="200"> <br>
    <p> Your basket: {{ opinion }}</p>
</body>
</html>