{% import "bootstrap/wtf.html" as wtf %}
{% include "navigation.html" %}
{% include "bootstrap/base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <h1>{{ product.name }}</h1>
    <p>Price: {{ product.price }}</p>
    <p>{{ product.description }}</p>
    <p>{{ product.eiikg }}</p>
    <img src="{{url_for('static', filename='Images/'+product.image)}}" alt = "{{product.name}}" height="200" width="200"> <br>
    <br>
    <p><b>Would you like to add this product to your basket?</b></p>
    <form action="{{ url_for('add_to_basket', techId=product.id) }}" method="post">
        <button type="submit" class="btn btn-success" style="margin-bottom: 5px;">Add to Basket</button>
    </form>
    <br>

{% endblock %}

