{% include "navigation.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% include "bootstrap/base.html" %}

{% block title %}Database hopefully{% endblock %}

{% block content %}
    <h1>Welsh stuff</h1>
    <p> {{product.name}} </p>
    <ul>
        {% for item in products %}
            <li>{{ item.name }} - {{ item.price }} - {{item.description}}<br></li>
            <li><a href="{{ url_for('singleProductPage', techId=loop.index0) }}"><img src="{{url_for('static', filename='Images/'+item.image)}}" alt = "{{item.name}}" height="200" width="200"></a> <br><br></li>
        {% endfor %}
    </ul>
{% endblock %}