{% include "navigation.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% include "bootstrap/base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <h1>Your Basket</h1>
    
    <ul>
        {% for item in basket %}
            <li>
                <img src="{{ item.image_url }}" alt="{{ item.name }}" width="100" height="100">
                <strong>{{ item.name }}</strong> - Price: {{ item.price }} - Quantity: {{ item.quantity }}
                <!-- Add a form to remove the item from the basket -->
                <form action="{{ url_for('remove_from_basket', techId=item.id) }}" method="post">
                    <button type="submit">Remove</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <p>Total Price: £{{ total_price }}</p>

    <a href="{{ url_for('checkout') }}" class="btn btn-info">Checkout</a>
    
    <form action="{{ url_for('clear_basket') }}" method="post">
        <button type="submit">Clear Basket</button>
    </form>
    
    
    <!-- Include any JavaScript files or libraries here -->
{% endblock %}
